.header {
    display: flex;
    background: #1f2937;
    justify-content: space-between;
    color: white;
    margin: 0;
    padding: 0px 42px 0px 12px;
}

button {

}

.right-links {
    display: flex;
    gap: 10px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #e5e7eb;
}

ul {
    text-decoration: none;
    color: #e5e7eb;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.container img {
    height: auto;
    width: 200px;
}

.container {
    width: 200px;
    margin: 14px;
}

.top {
    display: flex;
    justify-content: center;
    background: #1f2937;
    color: white;
    padding: 24px;
    gap: 32px;
}

button {
    background: #3882f6;
    border-radius: 5%;
    box-shadow: 0px;
    padding: 5px;
    border: none;
    font-size: 18px;
    font-family: 'roboto', sans-serif;
}

.motto {
    flex-wrap: wrap;
    font-family: 'kanit', sans-serif;
}

h4 {
    text-align: center;
    font-family: 'kanit', sans-serif;
    font-size: 28px;
    padding: 12px 0px;
    margin: 12px 0px;
    font-family: 'Roboto', sans-serif;
}

.meals {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #48494b;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.customer {
    background: #e5e7eb;
    margin: 0;
}

.quote {
    justify-content: center;
    flex-grow: 1;
    color: #48494b;
    font-size: 24px;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    padding: 1em 300px;
    margin: 0px;
}

.review {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: end;
    padding: 0px 300px;
    margin: 0px;
    text-decoration: none;
    justify-self: start;
}

/* .customer section {
    margin: 0;
}

p {
    margin: 0;
} */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:32px;
    padding:36px;
    background-color: #3882f6;
    border-radius: 5px;
    margin:100px auto;
    color: #f9faf8;
    flex-flow: row wrap;
    font-weight: 100;
}

.footer button {
    align-self: center;
    border: 2px solid #f9faf8;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    /* border: 2px solid #f9faf8; */
}

/* * {border: solid red 2px;} */

.end {
    display: flex;
    flex-direction: column;
}

.end p,h5 {
    margin: 0px;

}

h5 {
    font-size: 18px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-weight: 100;

}

.end p {
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}