.header {
    display: flex;
    background: #1f2937;
    justify-content: space-between;
    color: white;
    margin: 0;
    padding: 0px 42px 0px 12px;
}

button {
    border
}

.right-links {
    display: flex;
    gap: 10px;
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    text-decoration: none;
    color: #e5e7eb;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.container img {
    height: auto;
    width: 200px;
}

.container {
    width: 200px;
    margin: 14px;
}

.top {
    display: flex;
    justify-content: center;
    background: #1f2937;
    color: white;
    padding: 24px;
    gap: 32px;
}

button {
    background: #3882f6;
    border-radius: 5%;
    box-shadow: 0px;
    padding: 5px;
    border: none;
    font-size: 18px;
}

.motto {
    flex-wrap: wrap;
    font-family: 'kanit', sans-serif;
}

h4 {
    text-align: center;
    font-family: 'kanit', sans-serif;
    font-size: 28px;
    padding: 12px 0px;
    margin: 12px 0px;
}

.meals {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #48494b;
}

body {
    /* display: flex;
    flex-direction: column; */
}

.customer {
    background: #e5e7eb;
}

.quote {
    justify-content: center;
    flex-grow: 1;
    color: #48494b;
    font-size: 36px;
    font-style: italic;
    padding: 1em 8rem;
    margin-bottom: 0px;
}

.review {
    font-size: 20px;
    font-weight: 700;
    text-align: end;
    padding: 0px 8rem;
    text-decoration: none;
    justify-self: start;
}

.footer {
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    margin: 22px 100px;
    flex-basis: 50%;
}

.end {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.footer > button {

    align-content: center;
    height: 20px;
    justify-content: center;
    align-self: center;
    border: white 2px;
    
}

h3 {
    font-weight: 100;

}